aiohttp>=3.6.2,<4
motor>=3.7.1,<4
aiohttp-swagger3>=0.9.0,<1
python-json-logger>=2.0.2,<5
sentry-sdk>=2.62.0,<3
pydantic>=2.13.4,<3
ciso8601>=2.3.3,<3
aiocache>=0.12.3,<1

git+https://github.com/ProzorroUKR/prozorro_crawler.git@2.1.13#egg=prozorro_crawler
git+https://github.com/ProzorroUKR/dateorro.git@0.0.3#egg=dateorro
git+https://github.com/ProzorroUKR/standards.git@1.0.257#egg=standards